//making css variable

$global-bg-color: white;
$mobile-section-space: 30px;

@mixin flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
}

@mixin mobile-header{
    font-size: 20px;
    margin: 10px;
    margin-top: 30px;
    letter-spacing: 1px;
    padding: 3px;

    width: 100%;

    color: whitesmoke;
    background-color: black;
}

@mixin mobile-text {
    font-size: 16px;
    letter-spacing: -.7px;
}

@mixin button {
    cursor: pointer;
          margin-top: 15px;
          border-radius: 8px;
          background-color: black;
          color: whitesmoke;
          

          border: none;
          height: 30px;
          transition: all .2s ease;
          &:hover{
            background-color: white;
            color: black;
         }
}
