/* CSS Document */
/*Linking Othe .scss files*/
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body {
  font-family: 'Helvetica';
  background-color: rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  min-width: 340px;
  text-align: center;
}

.container header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.container header .mobileHead {
  height: 50px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container header .mobileHead .mobileLogo {
  width: 85px;
  margin-left: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.container header .mobileHead .burgerBut {
  position: relative;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container header .mainNav {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container header .mainNav a {
  color: whitesmoke;
  text-decoration: none;
  background-color: black;
  padding: 7px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.container header .mainNav a:hover {
  color: black;
  background-color: whitesmoke;
}

.container header .mainNav li {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: right;
  margin-right: 50px;
  font-size: 30px;
}

.container .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.container .hero .videoHead {
  width: 100% !important;
  height: auto !important;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.container .hero .moreBut {
  cursor: pointer;
  margin-top: 15px;
  border-radius: 8px;
  background-color: black;
  color: whitesmoke;
  border: none;
  height: 30px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.container .hero .moreBut:hover {
  background-color: lightgray;
  color: black;
}

.container .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.container .body .hwd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 100%;
}

.container .body .hwd h2 {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  margin-top: 15px;
  width: 95%;
  font-size: 20px;
  letter-spacing: 1px;
}

.container .body .hwd .paraDiv {
  width: 95%;
}

.container .body .hwd .para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.container .body .hwd .para h4 {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  margin-top: 15px;
  letter-spacing: 2px;
  width: 40%;
  margin-left: 0px;
  margin-bottom: 10px;
}

.container .body .hwd .para .hwd2 {
  width: 30%;
}

.container .body .hwd .para .hwd3 {
  width: 60%;
}

.container .body .hwd .para p {
  font-size: 16px;
  letter-spacing: -.7px;
}

.container .body .closeX {
  width: 95%;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  opacity: .7;
  cursor: pointer;
}

.container .body .off {
  visibility: hidden;
}

.container .body .teamHead {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container .body .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin-bottom: 0px;
}

.container .body .team .mateImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 60px;
  height: 100px;
  width: 100px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}

.container .body .team .mateImg:hover {
  opacity: .7;
}

.container .body .team .nick {
  background: url("../images/square_team_pic/square_team_pic-3.jpg") center no-repeat;
  background-size: cover;
}

.container .body .team .collins {
  background: url("../images/square_team_pic/square_team_pic.jpg") center no-repeat;
  background-size: cover;
}

.container .body .team .malek {
  background: url("../images/square_team_pic/square_team_pic-2.jpg") center no-repeat;
  background-size: cover;
}

.container .body .mateInfo {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.container .body .mateInfo .bioHead {
  margin-top: 10px;
  font-weight: bolder;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 87%;
  position: relative;
}

.container .body .mateInfo .bio {
  font-size: 16px;
  letter-spacing: -.7px;
  text-align: center;
  line-height: 18px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.container .body .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 100%;
}

.container .body .contact h2 {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  margin-top: 15px;
  width: 95%;
}

.container .body .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
}

.container .body .contact form label {
  opacity: .5;
  text-align: left;
  margin-top: 10px;
}

.container .body .contact form input {
  margin-top: 5px;
  font-size: 16px;
  padding-left: 10px;
  height: 27px;
  border: solid 1px gray;
  border-radius: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.container .body .contact form input:focus {
  background-color: #fdfdfd;
  color: black;
}

.container .body .contact form #message {
  height: 150px;
  margin-top: 5px;
  font-size: 16px;
  padding-left: 10px;
  border: solid 1px gray;
  border-radius: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.container .body .contact form #message:focus {
  background-color: #fdfdfd;
  color: black;
}

.container .body .contact form button {
  height: 28px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 8px;
  background-color: black;
  color: whitesmoke;
  border: none;
  height: 30px;
  transition: all .2s ease;
  margin-bottom: 10px;
}

.container .body .contact form button:hover {
  background-color: lightgray;
  color: black;
}

.container .body .contact h4 {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
}

.container .body .contact iframe {
  margin-top: 20px;
  width: 100%;
  height: 200px;
}

.container .body .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-top: 30px;
  width: 60%;
  padding: 10px;
}

.container .body .sub p {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  margin-top: 0px;
  padding: 5px;
}

.container .body .sub button {
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  height: 28px;
  width: 80%;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 8px;
  background-color: black;
  color: whitesmoke;
  border: none;
  height: 30px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.container .body .sub button:hover {
  background-color: lightgray;
  color: black;
}

.container .featPro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-top: 40px;
  width: 95%;
}

.container .featPro h2 {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
}

.container .featPro .proTag {
  font-size: 16px;
  letter-spacing: -.7px;
  font-size: 18px;
  margin-bottom: 10px;
}

.container .featPro img {
  width: 100%;
  background-color: black;
}

.container .featPro .desc {
  font-size: 16px;
  letter-spacing: -.7px;
  font-size: 18px;
  width: 95%;
  text-align: left;
}

.container .featPro .shots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .featPro .shots img {
  width: 30%;
  margin: 5px;
}

.container .moreProHead {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  width: 95%;
}

.container .morePro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container footer {
  margin-top: 30px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px gray;
}

.container footer .footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  margin-top: 14px;
}

.container footer .footerIcons img {
  height: 20px;
  cursor: pointer;
}

.container footer .footerIcons #fb {
  position: relative;
  bottom: 1px;
  height: 22px;
}

.container footer .footerNav {
  width: 60%;
  margin-top: 15px;
}

.container footer .footerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  letter-spacing: -.7px;
  font-size: 14px;
  margin-top: 1px;
}

.container footer .footerNav ul a {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 3px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.container footer .footerNav ul a:hover {
  color: black;
  background-color: white;
}

.container footer .copyright {
  font-size: 16px;
  letter-spacing: -.7px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 10px;
  width: 100%;
}

@media screen and (min-width: 550px) {
  .mateImg {
    height: 150px !important;
    width: 150px !important;
    border-radius: 150px !important;
  }
  iframe {
    height: 300px !important;
  }
}

@media screen and (min-width: 700px) {
  .bioHead {
    font-size: 24px !important;
  }
  .bio {
    font-size: 22px !important;
    line-height: 24px !important;
  }
  button {
    font-size: 20px !important;
    width: 50% !important;
  }
  a .moreBut {
    width: 100% !important;
  }
  h2 {
    font-size: 24px !important;
  }
  .hero {
    margin-top: 0px !important;
  }
  .mobileHead {
    background-color: white;
    margin-top: 15px !important;
    width: 98%;
    -webkit-box-shadow: 0px 0px 21px -10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 21px -10px rgba(0, 0, 0, 0.75);
    margin-left: auto;
    margin-right: auto;
  }
  .mobileHead .mobileLogo {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
  }
  .mainNav li {
    font-size: 36px !important;
  }
  .hwd p {
    font-size: 18px !important;
  }
  .mateImg {
    height: 175px !important;
    width: 175px !important;
    border-radius: 175px !important;
  }
  footer {
    padding-top: 15px;
  }
  footer .footerIcons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 50px !important;
    width: 30% !important;
  }
  footer .footerIcons img {
    height: 30px !important;
    margin-right: 10px;
  }
  footer .footerIcons #fb {
    bottom: 3px !important;
    height: 36px !important;
  }
  footer .footerNav ul {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 1000px) {
  .bioHead {
    font-size: 28px !important;
  }
  .bio {
    font-size: 24px !important;
    line-height: 28px !important;
  }
  .mainNav li {
    font-size: 40px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  .hwd .paraDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hwd .para {
    margin-top: 20px !important;
    width: 26%;
  }
  .hwd h4 {
    font-size: 24px !important;
    width: 70% !important;
  }
  .hwd .hwd2 {
    width: 60% !important;
  }
  .hwd .hwd3 {
    width: 90% !important;
  }
  .hwd p {
    font-size: 22px !important;
  }
  .mateImg {
    height: 200px !important;
    width: 200px !important;
    border-radius: 200px !important;
  }
  form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  form input {
    height: 35px !important;
    font-size: 20px !important;
    letter-spacing: 1px;
  }
  form label {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 1200px) {
  .bioHead {
    width: 90% !important;
    font-size: 32px !important;
  }
  .bio {
    font-size: 28px !important;
    line-height: 30px !important;
  }
  .mateImg {
    height: 250px !important;
    width: 250px !important;
    border-radius: 250px !important;
  }
}
/*# sourceMappingURL=main.css.map */