/* CSS Document */
/*Linking Othe .scss files*/
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
}

.bg {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: solid 0px black;
}

.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body {
  font-family: 'Helvetica';
}

.container {
  min-width: 340px;
  max-width: 1440px;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

header .mobileHead {
  height: 50px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .mobileHead .mobileLogo {
  width: 85px;
  margin-left: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

header .mobileHead .burgerBut {
  position: relative;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .mainNav {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header .mainNav a {
  color: whitesmoke;
  text-decoration: none;
  background-color: black;
  padding: 7px;
  cursor: pointer;
}

header .mainNav li {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: right;
  margin-right: 50px;
  font-size: 30px;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .hero {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.body .hero .videoHead {
  width: 100% !important;
  height: auto !important;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.body .hero .moreBut {
  cursor: pointer;
  margin-top: 15px;
  border-radius: 8px;
  background-color: black;
  color: whitesmoke;
  border: none;
  height: 30px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.body .hero .moreBut:hover {
  background-color: lightgray;
  color: black;
}

.body .hwd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.body .hwd h2 {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  width: 95%;
  font-size: 20px;
  letter-spacing: 1px;
}

.body .hwd .para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: left;
}

.body .hwd .para h4 {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  letter-spacing: 2px;
  width: 40%;
  margin-left: 0px;
  margin-bottom: 10px;
}

.body .hwd .para .hwd2 {
  width: 30%;
}

.body .hwd .para .hwd3 {
  width: 60%;
}

.body .hwd .para p {
  font-size: 16px;
  letter-spacing: -.7px;
}

.body .closeX {
  width: 95%;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  opacity: .7;
  cursor: pointer;
}

.body .off {
  visibility: hidden;
}

.body .teamHead {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  margin-top: 30px;
}

.body .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin-bottom: 0px;
}

.body .team .mateImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 60px;
  height: 100px;
  width: 100px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}

.body .team .mateImg:hover {
  opacity: .7;
}

.body .team .nick {
  background: url("../images/square_team_pic/square_team_pic-3.jpg") center no-repeat;
  background-size: cover;
}

.body .team .collins {
  background: url("../images/square_team_pic/square_team_pic.jpg") center no-repeat;
  background-size: cover;
}

.body .team .malek {
  background: url("../images/square_team_pic/square_team_pic-2.jpg") center no-repeat;
  background-size: cover;
}

.body .mateInfo {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.body .mateInfo .bioHead {
  margin-top: 10px;
  font-weight: bolder;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 87%;
  position: relative;
}

.body .mateInfo .bio {
  font-size: 16px;
  letter-spacing: -.7px;
  text-align: left;
  line-height: 18px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.body .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 100%;
}

.body .contact h2 {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  width: 95%;
}

.body .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
}

.body .contact form label {
  opacity: .5;
  text-align: left;
  margin-top: 10px;
}

.body .contact form input {
  margin-top: 5px;
  font-size: 16px;
  padding-left: 10px;
  height: 27px;
  border: solid 1px gray;
  border-radius: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.body .contact form input:focus {
  background-color: gray;
  color: white;
}

.body .contact form #message {
  height: 150px;
  margin-top: 5px;
  font-size: 16px;
  padding-left: 10px;
  border: solid 1px gray;
  border-radius: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.body .contact form #message:focus {
  background-color: gray;
  color: white;
}

.body .contact form button {
  height: 28px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 8px;
  background-color: black;
  color: whitesmoke;
  border: none;
  height: 30px;
  transition: all .2s ease;
}

.body .contact form button:hover {
  background-color: lightgray;
  color: black;
}

.body .contact h4 {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
}

.body .contact iframe {
  margin-top: 20px;
  width: 100%;
  height: 200px;
}

.body .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-top: 30px;
  width: 60%;
  padding: 5px;
}

.body .sub p {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
  margin-top: 0px;
  padding: 5px;
}

.body .sub button {
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  height: 28px;
  width: 80%;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 8px;
  background-color: black;
  color: whitesmoke;
  border: none;
  height: 30px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.body .sub button:hover {
  background-color: lightgray;
  color: black;
}

.featPro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-top: 100px;
  width: 95%;
}

.featPro h2 {
  font-size: 20px;
  margin: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
  padding: 3px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
}

.featPro p {
  font-size: 16px;
  letter-spacing: -.7px;
}

.featPro img {
  width: 100%;
  background-color: black;
}

footer {
  margin-top: 30px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px gray;
}

footer .footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  height: 20px;
  margin-top: 10px;
}

footer .footerIcons img {
  height: 90%;
  cursor: pointer;
}

footer .footerIcons #fb {
  position: relative;
  bottom: 1px;
  height: 102%;
}

footer .footerNav {
  width: 60%;
  margin-top: 10px;
}

footer .footerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  letter-spacing: -.7px;
  font-size: 14px;
  margin-top: 1px;
}

footer .footerNav ul a {
  cursor: pointer;
  color: black;
}

footer .copyright {
  font-size: 16px;
  letter-spacing: -.7px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 10px;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */