@charset "utf-8";
/* CSS Document */


/*Linking Othe .scss files*/


.hidden{
	display: none;
}


body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  min-width: 340px;
}

